{% extends 'layout2.html' %}
{% block content %}

<div class="container">
    <img src="../static/images/c-logo.png" alt="cakahal" class="logo" style="width: 50%; height: 50%; margin-top: 30px">

    <img src="../static/images/Thank-you.gif" alt="cakahal" class="logo mt-5" style="width: 45%; height: 45%; margin-top: 30px">

<!--    <h1 class="bg-success mt-5" style="margin-top: 30px; background-color: #20c997">Thank You!</h1>-->

    <hr>
    <h2 class="">Thank you for rating your experience... <span class="blink_me" style="font-size: smaller; text-decoration-color: #20c997"> We hope to see you soon!</span>  </h2>
        <img src="../static/images/hero_1.png" alt="cakahal" class="logo mt-3" style="width: 80%; height: 80%; margin-top: 80px">

</div>

{% endblock content %}
